/* Estilo geral */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body {
    background-color: #fafbfc;
}

/* Header estilo */
header {
    background-color: #050c29;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.5rem 25rem 1.5rem 25rem;
}

.navItem {
    text-decoration: none;
    color: #fafbfc;
    font-weight: bold;
    position: relative;
}

.navItem::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #fafbfc;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navItem:hover::after {
    width: 100%;
}


.navMobile {
    display: none;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 2rem;
    color: #fafbfc;
    background-color: #fa8035;
    border-radius: 3rem;
    cursor: pointer;
  }

/* Estilo do footer */
footer {
    background-color: #050c29;
    padding-top: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    font-size: 1.3rem;
    color: #fa8035;
}

.listFooter {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0.9rem 0 1.3rem 0;
}

.footerItem, footer p {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fafbfc;
}

footer a {
    font-size: 0.9rem;
    color: #fafbfc;
    text-decoration: none;
}

.footerItem:hover, #principalFooter p:hover, a:hover {
    color: #a4a4a4;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    background-color: #010720;
    height: 3rem;
    width: 100%;
}

@media (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2rem;
    }

    .listFooter {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }

    #copyright {
        height: 3rem;
        width: 100%;
    }

/* Header */

header{
    position: relative;
}

.navMobile{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

nav{
    min-height: fit-content;
    height: 12vh;
    margin-bottom: 10%;
}


.navBarContainer{
    display: none;
    width: 100vw;
    height: 100vw;
}

.listHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 3.5rem;
}

.navBarContainer.active{
    display: flex;
}

}

@media (max-width: 1000px){
/* header */

.listHeader{
    padding: 1.5rem 10rem 1.5rem 10rem;;
}

main{
min-height: 77vh;
}


}