main{
    margin: 3rem 20rem 3rem 20rem;
}

#mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


img{
  max-width:26rem;
}

h1{
    color:#fa8035;
    font-size: 2.5rem;
}

h2{
    color: #fafbfc;
    background-color: #050c29;
    width: 28rem;
    border-radius: 3rem;
    font-size: 1.2rem;
}

p{
    color:#0e0e0e;
    font-size: 1rem;}


#saibaMais{
    width: 7rem;
    background-color: #050c29;
    color: #fafbfc;
    border-radius: 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#saibaMais:hover{
    font-size: 1.1rem;
    box-shadow: #0e0e0e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.493);
}

@media (min-width: 320px) and (max-width: 1280px){
    main{
        width:auto ;
        margin: 0 0.8rem 0 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }

    img{
     min-width: 17rem;
     max-width: auto;
     margin: 0 0.2rem 0 0.2rem;
    }
h2{
width: 25rem;
}
}

